@media only screen and (min-width: 576px) { 
    h1 {
        color: black;
        font-family: Trebuchet MS;
        font-weight: lighter;
        font-size: 25px;
        background-color: sandybrown;
        text-align: center;
        padding-top: 25px;
        height: 70px;
        margin: 0;
    }
    .descriere {
        color: black;
        font-family: Courier New;
        font-weight: lighter;
        font-size: 15px;
        background-color: sandybrown;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 30%;
        padding-right: 30%;
        height: 100px;
        margin: 0;
        border-bottom: thin solid black;
    }
    
    header {
        margin: 0 auto;
    }
    .buton {
        height: 40px;
        width: 70px;
        font-family: arial;
        background-color: rgb(211, 243, 190);
        color: black;
        font-size: 17px;
        cursor: pointer;
        border: thin solid #74B162;
        border-radius: 25px;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(197, 224, 219);
        width: 100%;
        box-shadow: 5px 8px rgba(107, 238, 216, 0.849);
    }
    
    .dropdown-content a {
        color: black;
        display: block;
        font-family: arial;
        font-size: 14px;
    }
    
    .dropdown-content p {
        color: black;
        display: block;
        font-family: arial;
        font-size: 14px;
    }
    
    .dropdown-content a:hover {background-color: rgba(107, 238, 216, 0.884)}
    .dropdown-content p:hover {background-color: rgba(107, 238, 216, 0.884)}
    
    .dropdown:hover .dropdown-content {
        display: block;
      }
    
    .rezerva {
        margin: 10px auto;
        font-style: italic;
        font-family: arial;
        border-radius: 25px;
        width: 170px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        animation-name: animatie;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
    }
    
    @keyframes animatie {
        from {background-color: white;}
        to {background-color: #364ed49a;}
      }
    
    .rating {
        width: 100px;
        height: 35px;
        font-family: arial;
        font-size: 14px;
        border-radius: 25px;
        margin-left: 25px;
        background-color: #364ed49a;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: width 1s, height 1s, font-size 1s;
    }
    
    .rating:hover {
        width: 160px;
        height: 50px;
        font-size: 17px;
    }
    
    h2 {
        margin-left: 25px;
        font-family: arial;
        font-size: 30px;
    }
    
    h3 {
        margin-left: 25px;
        font-family: arial;
        font-size: 20px;
        color: #364ed49a;
    }
    
    #facilitati {
        margin-left: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    #facilitati span::before {
        content: "• ";
        color: #364ed49a;
    }
    
    .f {
        font-size: 14px;
        font-family: arial;
    }
    
    .tipuri {
        display: flex;
        margin-left: 25px;
    }
    
    .tipuri span {
        margin-right: 20px;
    }
    
    .tipuri span::after {
        content: ";";
    }
    
    ul {
        list-style: none;
    }
    
    li::before {
        content: "• ";
        color: #364ed49a;
    }
    
    #locatie {
        margin-left: 25px;
        display:grid;
        grid-template-columns: 1fr;
    }
    
    #locatie a {
        font-size: 14px;
        font-family: arial;
    }
    
    .poze {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        margin-left: 25px;
    }
    
    .poza{
      width: 100%;
      max-height: 100%;
    }
    
    footer {
        display: grid;
        grid-template-columns: 1fr;
        background-color: sandybrown;
        border-top: thin solid black;
        font-family: Trebuchet MS;
        height: 150px;
    }
    
    .s1 {
        font-size: 14px;
        text-align: center;
        padding-top: 10px;
    }
    
    .s2 {
        font-size: 14px;
        text-align: center;
    }
    
    .s3 {
        font-size: 17px;
        text-align: center;
    }
    
  }